.color-bg{
    background-color: #031E71;
}
.footer-bg{
    background-color: #001760;
}
.circle-button{
    border-radius: 25px;
}

.baslik-text{
    color: #329992;
    font-weight: 400;
}
.low-text{
    color: #031E71;
    font-weight: 400;
    font-size: 14px;
}
.villa{
    color: #031E71;
    font-size: 20px;
}
.nolan{
    color: #329992;
    font-size: 13px;

}
@media only screen and (max-width: 768px) {
    #cnt {
      display: flex;
      justify-content: center;
      align-items: center;
    }

  }
  @media only screen and (max-width: 639px) {
    #ready {
      font-size: 40px;
    }
    #ready1{
        font-size: 15px;

    }
    #ready2{
        font-size: 12px;
    }

  }
.ready-text{
    font-size: 80px;
}
.ready-text1{
    font-size: 30px;
}
  .ready-bg{
      background-color: #329992;
    
  }

  .price{
    color: #031E71;
    font-size: 12px;
  }
  .bar-bg{
    background: #EDF4F4;
  }
  .broaden{
    color: #031E71;
  }

  .photo{
      position: absolute;
      height: 710px;
      width: 434px;
      right: 5%;
      top: -95px;
  }
  .virgül{
      background-image: url(assets/“.svg);
      background-repeat: no-repeat;
      background-size: 90px;
      
      
  }

  .ptop{
      padding-top: 150px;
      padding-bottom: 150px;
  }

  .pfooter{
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right:100px ;
    padding-left:100px ;
    font-size: 12px;
  }
  .pfooter2{
    padding-right:100px ;
    padding-left:100px ;
  }